.interna-portfolio {
  background: url("../img/bg-portfolio.jpg") no-repeat center;
  background-size: cover;
}

.interna-portfolio h1 {
  color: #e9e7e7;
}

.card-lista li {
  margin-bottom: 30px;
  margin-top: 30px;
}

/*Fotos Portfolio*/

.fotos-portfolio {
  margin-top: 50px;
}

.fotos-portfolio h2 {
  background: #464646;
  text-align: center;
  font-size: 24px;
  color: #e9e7e7;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.fotos-portfolio h3 {
  text-align: center;
  background: #f7cc00;
  color: #464646;
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px;
}
.fotos-portfolio h4 {
  font-weight: 600;
  color: #464646;
  text-align: left;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
  line-height: 25px;
}

.fotos-portfolio p {
  text-transform: lowercase;
  color: #464646;
  line-height: 25px;
  font-size: 18px;
  text-align: left;
}

.fotos-portfolio p:first-letter {
  text-transform: uppercase;
}

.fotos-portfolio ul li img {
  margin-top: 20px;
  border-radius: 3px;
}

.seletor {
  margin-top: 30px;
}

.seletor li {
  display: inline-block;
  padding: 5px;
}

.seletor li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #464646;
  padding: 10px 30px;
  box-shadow: 0px 0px 0px 1px #f7cc00;
  border-radius: 5px;
}

.seletor li a:hover {
  box-shadow: 0px 0px 0px 2px #f7cc00;
  transition: box-shadow 0.1s linear;
}

.seletor .ative {
  background-color: #f7cc00;
  color: #464646;
  box-shadow: 0px 0px 0px 2px #f7cc00;
  transition: box-shadow 0.1s linear;
}
