.interna-sobre {
  background: url("../img/bg-servico.jpg") no-repeat center;
  background-size: cover;
}

.nossos-servicos {
  margin-top: 40px;
}

.nossos-servicos .subtitulo {
  margin-bottom: 30px;
}

.nossos-servicos h3 {
  font-size: 24px;
  color: #464646;
  font-weight: 500;
  line-height: 30px;
  padding: 15px 0;
  text-align: left;
}

.nossos-servicos p {
  font-size: 14px;
  color: #464646;
  line-height: 20px;
  text-align: left;
}

.nossos-servicos ul li {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

.nossos-servicos .subtitulo {
  text-align: left;
}

.nossosservicos-lista ul li {
  background: #464646;
  margin-top: -80px;
  margin-bottom: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px;
  height: 200px;
}

.nossosservicos-lista h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #f7cc00;
  padding: 15px 20px 10px 20px;
}

.nossosservicos-lista p {
  font-size: 14px;
  line-height: 20px;
  color: #ebebeb;
  padding: 0px 20px 20px 20px;
}
