.interna-sobre {
  background: url("../img/bg-servico.jpg") no-repeat center;
  background-size: cover;
}

.nossos-servicos {
  margin-top: 40px;
}

.nossos-servicos .subtitulo {
  margin-bottom: 30px;
}

.nossos-servicos h3 {
  font-size: 24px;
  color: #464646;
  font-weight: 500;
  line-height: 30px;
  padding: 15px 0;
  text-align: left;
}

.nossos-servicos p {
  font-size: 14px;
  color: #464646;
  line-height: 20px;
  text-align: left;
}

.nossos-servicos ul li {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

.nossos-servicos .subtitulo {
  text-align: left;
}
